*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  background: #ededed;
}

 .contanier {
  width: 40%;
  min-height: 20vh;
  background: rgb(255, 255, 255);
  margin: 6rem auto;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 3px;
}

h1{
  width: 100%;
 margin: auto;
 padding: .4rem .4rem;
  color: rgba(71, 114, 253, 0.428);
}

.alert{
  width: 80%;
  height: 4vh;
  margin: auto;
  margin-top: 1rem;
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
} 

.alert-sucsess{
  background: rgba(55, 185, 55, 0.472);
}

.alert-faild{
  background: rgba(231, 54, 54, 0.421);
} 

article{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding: .4rem .4rem;
 background: rgba(255, 0, 242, 0.200); 
 border-radius: 4px;
}

.edit_btn,.dlelt_btn{
  color: rgb(7, 112, 54);
  background: transparent;
  border: none;
  margin-right: 1rem;
  
}

.dlelt_btn{
  color: red;
margin-right: 0.6rem;
}

.submit_btn,.clear_btn{
  color: rgba(43, 37, 227, 0.981);
  border-color: rgba(43, 37, 227, 0.587) ;
  padding: 0.1rem 0.2rem;
}

.input_iem{
  border-color: rgba(43, 37, 227, 0.587) ;
  padding-left: 1rem;
  padding: 0.1rem 0.2rem;
  margin-right: .4rem;
}

.form_control{
  text-align: center;
}

@media screen and (max-width:370px){
  
  .contanier{
    width: 90%;
  }
}